address {
    font-style: normal;
    display: flex;
    flex-direction: column;
    padding-left: 15px;
    margin-bottom: 9px;
  
  }
  .adres {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-align: left;
    color: #ffffff;
    margin-bottom: 9px;
    padding-left: 115px;
  
  }