address {
    font-style: normal;
    display: flex;
    flex-direction: column;
    padding-left: 15px;
  
  
  }
  .adres {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-align: left;
    color: #ffffff;
    margin-bottom: 9px;
    padding-left: 115px;
  
  }

  .adres__contact-email {
    padding-left: 183px;
  }
  .adres__contact-phone{
    padding-left: 183px;
  }