.our-advantage {
  margin-top: 0px;
  padding: 0;
  list-style: none;
  display: block;

  &__font {
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--brand-color);
    padding-top: 30px;
  }

  &__text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-align: left;
    color: var(--our-advantage__text);
    padding-top: 10px;
  }
}
.our-advantage__list {
  background-color: #f5f4fa;
  height: 120px;
  width: 100%;
  margin: 0 auto;
}

.our-advantage__icon-advantage {
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: 100px;
  margin-right: 100px;
}
// Tablet
@media screen and (min-width: 768px) {
  .our-advantage {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px; }

   .our-advantage__item { 
  flex-basis: calc((100% - 30px) /2 )}


  .our-advantage__list{
  height: 120px;
}
}



// Desktop
@media screen and (min-width: 1199px) {
  .our-advantage {
    display: flex;
    flex-wrap: nowrap;
    gap: 30px;
  }

  .our-advantage__list{
    height: 120px;
    width: 270px;}

}
