footer {
  background-color: #2f303a;
  padding-bottom: 60px;
}
.footerflex {
  display: flex;
  flex-direction: column;
  text-align: center;
}






// DESKTOP

@media screen and (min-width: 1199px){

footer {
    background-color: #2f303a;
    padding-bottom: 60px;
  }
  .footerflex {
    display: flex;
    flex-direction: row;
    text-align:left;
  }
}