footer {
  background-color: #2f303a;
  padding-bottom: 60px;
}
.footerflex {
  display: flex;
  flex-direction: column;
  text-align: center;
}

// TABLET

@media screen and (min-width: 768px){
  .footerflex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 0 50px;
    text-align: center;
    flex-wrap: wrap;
  }
}


// DESKTOP

@media screen and (min-width: 1199px){

footer {
    background-color: #2f303a;
    padding-bottom: 60px;
  }
  .footerflex {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
 
   
  }
}