.logo1 {
  font-family: Raleway;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: left;
  color: var(--hover);
}
.logo2 {
  font-family: Raleway;
  font-size: 26px;
  line-height: 1.38;
  letter-spacing: 0.03ems;
  text-align: left;
  color: #000000;
}
