.nav-button {
  display: flex;
  height: 40px;
  width: 40px;
  justify-content: center;
  border: none;
  background-color: white;
  margin-top: 21px;
  cursor: pointer;

  &:hover,
  &:focus {
    fill: var(--hover);
  }
}


.nav-button__svg {
  height: 40px;
  width: 40px;
}

@media screen and (min-width: 768px) {
  .nav-button {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .nav-button {
    display: none;
  }
}
