.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;
    flex-grow: 2;
  }

  @media screen and (max-width: 768px) {
    .navigation {
      display: none;
    }
  }
  