.page-footer {
  padding-top: 60px;
  text-align: center;

  &__logo3 {
    font-family: Raleway;
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: 0.03ems;
    text-align: left;
    color: #ffffff;
  }
}

// TABLET

// DESKTOP

@media screen and(min-width: 1199px) {

  .page-footer {
    text-align: left; 
  }
}
