.page-footer {
    padding-top: 60px;

    &__logo3 {
      font-family: Raleway;
      font-size: 26px;
      line-height: 1.38;
      letter-spacing: 0.03ems;
      text-align: left;
      color: #ffffff;
    }
  }