.section {
    padding-top: 94px;
    padding-bottom: 94px;
    margin: 0 auto;
    text-align: center;
  }
  .section-title {
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--brand-color);
    padding-bottom: 50px;
  }
  .section-team {
    padding-top: 94px;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 94px;
    background-color: #f5f4fa;
  }