.container {
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
    padding: 0 15px;
  }
  .container-section {
  width: 1200px;
  margin: 0 auto;
  width: 100%;
  padding: 0 15px;
  background-color: #2f303a;}
  
  .contaninerinside {
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
    padding: 0 15px;
  }